<div class="container row col-8 mx-auto">
  <div class="text-start border-left border-secondary">
    <%= @question %>
    <p > <i>- You</i></p>
  </div>

  <div class="text-start border-left border-secondary">
    <b><%= @answer %></b>
    <p><i>- Your coach</i></p>
  </div>

  <%= link_to 'Ask a new question', ask_path %>
<div>
