<div class="container row col-8 mx-auto">
  <p>Ask your coach anything</p>
  <form action="/answer" data-turbo="false" class="d-flex">
    <input type="text" name="question" class="form-control form-control-lg">
    <input type="submit" value="Ask!" class="btn btn-primary">
  </form>
</div>
